[submodule "backbone"]
	path = backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "underscore"]
	path = underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "backbone.localstorage"]
	path = backbone.localstorage
	url = git://github.com/jeromegn/Backbone.localStorage.git
