body {
  margin: 0;
  font-family: sans-serif;
  font-size: smaller;
}

body, input, textarea, select, header {
  color: white;
  background-color: black;  
}

body a:link, body a:visited {
  color: #ccc;
}

body a:active {
  color: white;
}

header, section#main {
  padding: 5px;
}

section#main {
  margin-left: 0px;
  margin-right: 170px;
}

section#main input, section#main textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

section#main input.pattern {
  width: 100%;
}


section#main textarea.haystack {
  width: 66.6%;
  float: left;
  height: 10em;
}

section#main section.results {
  width: 33.3%;
  float: right;
}

section#main section.results ol {
  margin: 0;
  padding-left: 2em;
}

section#main section.results ol li {
  background-color: #333;
}

section#main section.results ol li:nth-of-type(even) {
  background-color: #444;
}

header {
  width: 160px;
  position: absolute;
  right: 0;
  top: 0;
}

header .buttons {
  display: none;
  left: 5px;
  top: 5px;
}

header #close-about {
  display: none;
}

header article {
  display: none;
}

.header-open header {
  width: auto;
}

.header-open header #close-about {
  display: inline;
}
.header-open header #open-about {
  display: none;
}

.header-open header .buttons {
  display: block;
}

.header-open header article {
  display: block;
}

.header-open section#main {
  display: none;
}

#main footer {
  display: none;
  text-align: right;
  margin-top: 1em;
}

header h1, header h2, header h3, header h4 {
  text-align: center;
  font-style: italic;
}

#main article.tester {
  position: relative;
  margin-bottom: .5em;
}

#main article.tester form {
  background-color: #333;
  overflow: auto;
  padding: 1em .25em .25em .25em;
}

#main article.tester:nth-of-type(even) form {
  background-color: #444;
}

#main article.tester form.highlighted {
  border: 3px double red;
}

#main article.tester form input, article.tester form textarea {
  border: gray 1px solid;
}

.buttons {
  position: absolute;
  font-size: larger;
  left: -.25em;
  top: -.25em;
}

.buttons div, .buttons a:link, .buttons a:visited {
  display: block;
  line-height: 1.2em;
  float: left;
  padding: 0 .25em;
  background-color: #666;
  text-decoration: none;
  color: white;
}

.buttons div:hover, .buttons a:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.buttons div.close:hover {
  color: white;
  background-color: red;
}
