<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Now you have two problems.</title>
  <meta name="description" content="JavaScript-powered regular expression tester." />
<!--     <link rel="stylesheet" type="text/css" href="css/2p.css" /> -->
  <script type="text/javascript" src="underscore/underscore.js"></script>
  <script type="text/javascript" src="jquery/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="backbone/backbone.js"></script>
  <script type="text/javascript" src="2p.js"></script>
</head>
<body>
  <section id="main">
      <p id="third-problem">Actually, you have three problems, because if you can see this long enough to read to the end, then it means that your browser does not support JavaScript or has its JavaScript support disabled, and/or your internet connection is ridiculously slow. You&rsquo;ll have to solve this problem before you can continue.</p>
  </section>
  <footer>
  </footer>
  <script type="text/template" id="tester-t">
    <article id="tester-<%= order %>">
      <form novalidate>
        <input type="text" class="pattern" placeholder="/RegEx pattern/" value="<%= pattern %>" />
        <textarea class="text" placeholder="Text to match against"><%= testText %></textarea>
      </form>
      <section class="results">
        <h2>Results</h2>
      </section>
    </article>
  </script>
</body>
</html>
