<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Now you have two problems.</title>
  <meta name="description" content="JavaScript-powered regular expression tester." />
  <link rel="stylesheet" type="text/css" href="2p.css" />
  <script type="text/javascript" src="underscore/underscore.js"></script>
  <script type="text/javascript" src="jquery/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="backbone/backbone.js"></script>
  <script type="text/javascript" src="backbone.localstorage/backbone.localStorage.js"></script>
  <script type="text/javascript" src="2p.js"></script>
</head>
<body>
  <section id="main">
      <p id="third-problem">Actually, you have three problems, because if you can see this long enough to read to the end, then it means that your browser does not support JavaScript or has its JavaScript support disabled, and/or your internet connection is ridiculously slow. You&rsquo;ll have to solve this problem before you can continue.</p>
  </section>
  <header>
    <h1>Now you have two problems.</h1>
    <h2>JavaScript-powered regular expression tester</h2>
    <h3>By <a href="http://abweb.us/">Garrett Albright</a></h3>
  </header>
  <script type="text/template" id="tester-t">
    <article id="tester-<%= order %>" class="tester">
      <div class="buttons">
        <div class="close" title="Remove tester">&times;</div>
        <div class="copy" title="Fork (clone) tester">&#8916;</div>
      </div>
      <form novalidate>
        <input type="text" class="pattern" placeholder="/RegEx pattern/" value="<%= pattern %>" />
        <textarea class="haystack" placeholder="Text to match against"><%= testText %></textarea>
        <section class="field-wrapper results">
          <h2>Results</h2>
        </section>
      </form>
    </article>
  </script>
</body>
</html>
